<!-- HOT TOP CATEGORY -->
<app-top-category></app-top-category>
<!-- /HOT TOP CATEGORY -->

<!-- SECTION NEW PRODUCT-->
<app-top-lastest></app-top-lastest>
<!-- /SECTION NEW PRODUCT -->

<!-- HOT DEAL SECTION -->
<app-top-banner></app-top-banner>
<!-- /HOT DEAL SECTION -->

<!-- SECTION NEW PRODUCT-->
<app-top-product-section></app-top-product-section>
<!-- /SECTION NEW PRODUCT -->

<!-- SECTION TOP SELLING-->
<app-top-selling></app-top-selling>
<!-- /SECTION -->

<!--SECTION NEWSLETTER -->
<app-news-letter></app-news-letter>
<!-- /NEWSLETTER -->

