<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
  <!-- container -->
 
  <!-- /container -->
</div>
<!-- /BREADCRUMB -->


<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- Product main img -->
      <div class="col-md-5 col-md-push-2">
        <div id="product-main-img">
          <div class="product-preview">
            <img src="{{selectedProduct.productAvatar}}" alt="">
          </div>

          <!-- <div class="product-preview">
            <img src="./assets/img/product02.png" alt="">
          </div>

          <div class="product-preview">
            <img src="./assets/img/product03.png" alt="">
          </div>

          <div class="product-preview">
            <img src="./assets/img/product04.png" alt="">
          </div> -->
        </div>
      </div>
      <!-- /Product main img -->

      <!-- Product thumb imgs -->
      <div class="col-md-2  col-md-pull-5">
        <div id="product-imgs">
          <div class="product-preview">
            <img src="{{selectedProduct.productThumb}}" alt="">
          </div>

          <div class="product-preview">
            <img src="{{selectedProduct.productThumb}}" alt="">
          </div>

          <div class="product-preview">
            <img src="{{selectedProduct.productThumb}}" alt="">
          </div>

          <div class="product-preview">
            <img src="{{selectedProduct.productThumb}}" alt="">
          </div>
        </div>
      </div>
      <!-- /Product thumb imgs -->

      <!-- Product details -->
      <div class="col-md-5">
        <div class="product-details">
          <h2 class="product-name">{{selectedProduct.productName}}</h2>
          <div>
              <div class="product-rating">
                  <i class="fa fa-star" *ngFor="let dummy of ' '.repeat(selectedProduct.rating).split('')"></i>
                </div>
            <a class="review-link" href="cus-review?pid={{selectedProduct.id}}&from=detail">10 Review(s) | Add your review</a>
          </div>
          <div>
            <h3 class="product-price">${{selectedProduct.productPrice}} <del class="product-old-price">${{selectedProduct.productCostReference}}</del></h3>
            <span class="product-available" *ngIf="selectedProduct.productIsAvailable" >In Stock</span>
            <span class="product-available" *ngIf="!selectedProduct.productIsAvailable" >Out Stock</span>
          </div>
          <p>{{selectedProduct.productShortDesc}}</p>

          <div class="product-options">
            <label>
              Size  
              <select class="input-select">
                <option value="0">X</option>
              </select>
            </label>
            <label>
              Color
              <select class="input-select">
                <option value="0">Red</option>
              </select>
            </label>
          </div>

          <div class="add-to-cart">
            <div class="qty-label">
              Qty
              <div class="input-number">
                <input type="number">
                <span class="qty-up">+</span>
                <span class="qty-down">-</span>
              </div>
            </div>
            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
          </div>

          <ul class="product-btns">
            <li><a href="#"><i class="fa fa-heart-o"></i> add to wishlist</a></li>
            <li><a href="#"><i class="fa fa-exchange"></i> add to compare</a></li>
          </ul>

          <ul class="product-links">
            <li>Category:</li>
            <li><a href="#">Headphones</a></li>
            <li><a href="#">Accessories</a></li>
          </ul>

          <ul class="product-links">
            <li>Share:</li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
          </ul>

        </div>
      </div>
      <!-- /Product details -->

      <!-- Product tab -->
      <div class="col-md-12">
        <div id="product-tab">
          <!-- product tab nav -->
          <ul class="tab-nav">
            <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
            <li><a data-toggle="tab" href="#tab2">Details</a></li>
            <li><a data-toggle="tab" href="#tab3">Reviews (3)</a></li>
          </ul>
          <!-- /product tab nav -->

          <!-- product tab content -->
          <div class="tab-content">
            <!-- tab1  -->
            <div id="tab1" class="tab-pane fade in active">
              <div class="row">
                <div class="col-md-12">
                    <p>{{selectedProduct.productLongDesc}}</p>
                </div>
              </div>
            </div>
            <!-- /tab1  -->
            
            <!-- tab2  -->
            <div id="tab3" class="tab-pane fade in">
              <app-product-detail-review></app-product-detail-review>
            </div>
            <!-- /tab3  -->
          </div>
          <!-- /product tab content  -->
        </div>
      </div>
      <!-- /product tab -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<!-- Section Recommended product -->
<div class="section">
  <!-- container -->

  <!-- /container -->
</div>
<!-- /Section -->